.App {
  text-align: center;
}
.productContainer{
  display: flex;
}
.productItem{
  width: 30vw;
  height: 300px;
  /* border: 1px solid gray; */
  padding: 10px;
  /* overflow: hidden; */
}
img{
  width: 120px;
  height: 150px;
}